.j-printable {
  margin: auto;
  width: 708px;
}

.j-printable
.j-end {
  position: absolute;
  right: 0;
}

.j-card {
  border: 1px solid grey;
  padding: 20px;
  width: 350px;
  height: 230px;
  float: left;
  margin: 2px;
  position: relative;
}

.j-card-content {
  height: 100%;
  position: relative;
}

.j-card-header {
  height: 24px;
}

.j-card-header
.j-index {
  top: 0;
}

.j-card-id {
  color: gray;
}

.j-card-summary {
  padding-top: 20px;
}

.j-card-summary .title {
  line-height: 1.5em !important;
}

.j-card-footer {
  height: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
